<ion-header no-border>

    <ion-navbar color="primary">
        <ion-title>Crear cuenta</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="registerForm" class="register-form">

        <ion-item class="username-input">
            <ion-label stacked>nombre de usuario</ion-label>
            <ion-label stacked>
                <error-messages [control]="registerForm.controls.username"></error-messages>
            </ion-label>
            <ion-input formControlName="username" type="text" required></ion-input>
        </ion-item>

        <ion-item class="email-input">
            <ion-label stacked>Email</ion-label>
            <ion-label stacked>
                <error-messages [control]="registerForm.controls.email"></error-messages>
            </ion-label>
            <ion-input formControlName="email" type="email" required></ion-input>
        </ion-item>

        <ion-item class="password-input">
            <ion-label stacked>Contraseña</ion-label>
            <ion-label stacked>
                <error-messages [control]="registerForm.controls.password"></error-messages>
            </ion-label>
            <ion-input formControlName="password" type="password" required></ion-input>
        </ion-item>

        <ion-item class="confirm-password-input">
            <ion-label stacked>Confirmar contraseña</ion-label>
            <ion-label stacked>
                <error-messages [control]="registerForm.controls.confirmPassword"></error-messages>
            </ion-label>
            <ion-input formControlName="confirmPassword" type="password" required></ion-input>
        </ion-item>

    </form>

    <p class="submit-warning" *ngIf="!registerForm.valid">Debes llenar los campos de arriba correctamente para poder crear una cuenta</p>

    <button [disabled]="!registerForm.valid" ion-button full icon-right color="light" class="register-button" (click)="createAccount()">Crear cuenta <ion-icon name="arrow-forward"></ion-icon></button>

</ion-content>