<ion-header no-border>

    <ion-navbar color="primary">
        <ion-title>Noticias</ion-title>

        <ion-buttons left>
            <button (click)="logout()" class="logout-button" ion-button icon-only><ion-icon name="log-out"></ion-icon></button>
        </ion-buttons>

        <ion-buttons right>
            <button (click)="openAddNoticePage()" class="add-notice-button" ion-button icon-only><ion-icon name="add"></ion-icon></button>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content>

    <ion-list class="notice-list" no-lines>

        <div *ngIf="!notices.length > 0">
            <skeleton-card></skeleton-card>
            <skeleton-card></skeleton-card>
        </div>

        <ion-card class="notice-cards" [class.deleting]="notice?.deleting" *ngFor="let notice of notices">

            <ion-item>
                <ion-avatar item-start>
                    <img src="https://api.adorable.io/avatars/100/{{notice.author}}">
                </ion-avatar>
                <h2>{{notice.author}}</h2>
            </ion-item>

            <ion-card-content>

                <div class="mega-text">
                    <p>{{notice.title}}</p>
                </div>

                <p class="message-content">{{notice.message}}</p>

            </ion-card-content>

            <div *ngIf="notice.author == userProvider?.currentUser?.user_id" class="control-buttons">

                <button (click)="deleteNotice(notice)" color="light" class="delete-notice-button" ion-button icon-left clear small>
          <ion-icon name="trash"></ion-icon>
          <div>borrar</div>
        </button>

                <button (click)="openAddNoticePage(notice)" color="primary" class="edit-notice-button" ion-button icon-left clear small>
          <ion-icon name="book"></ion-icon>
          <div>editar</div>
        </button>

            </div>

        </ion-card>

    </ion-list>

</ion-content>